/*
	Node.js IRC Client Styles
	Author: Elijah Cowley (GreyWolf)
	Owner: EPCIT
	Website: http://epcit.biz
	IRC Server: irc://irc.epcit.biz:6667
*/

body {
  /* overflow: hidden; */
}
.chantabs {
  margin-top: 10px;
}
.channel_tab {
  border: 1px solid #CCC;
  border-radius: 5px 5px 0 0;
  padding:5px;
}
.channel_tab:hover {
  color: #333;
  background: #CCC;
  cursor:pointer;
}
.channel_set {
  /*position: absolute;*/
  border: 1px solid #CCC;
  display: none;
  /*top: 35px;*/
  width:100%;
  height: 480px;
  max-height: 99%;
  margin-top: 5px;
}
.channel_topic {
  background: #AAA;
  color: #000;
  width: 100%;
  text-align: center;
  height: 25px;
  max-height: 25px;
  border-bottom: 1px solid #CCC;
}
.channel_window {
  display: inline-block;
  position: relative;
  width:89%;
  height: 455px;
  max-height: 99%;
  overflow: auto;
  border-right: 1px solid #CCC;
}
.channel_names {
  display: inline-block;
  /*position: absolute;*/
  /*top:0px;*/
  width:10%;
  height: 455px;
  max-height: 99%;
  overflow: auto;
  float:right;
  right: 0px;
}
.channel_name {
  cursor:pointer;
}
.channel_name:hover {
  color: #999;
  background: #CCC;
}
.channel_mode {
  vertical-align: middle;
  margin-right: 2px;
}
.rc_menu {
  position: absolute;
  display: none;
  width: 100px;
  height: auto;
  border: 1px solid #999;
  background: #CCC;
}
.rc_menuitem {
  cursor: pointer;
}
.rc_menuitem:hover {
  background: #CCC;
  color: #999;
}
.inputarea {
  margin-top: 5px;
}
#sendtext {
  width: 90%;
}
.notice {
  color: red;
}
