/*
	Node.js IRC Client Styles
	Author: Elijah Cowley (GreyWolf)
	Owner: EPCIT
	Website: http://epcit.biz
	IRC Server: irc://irc.epcit.biz:6667
*/

body {
  /* overflow: hidden; */
}
.window_set {
  height:150px;
}
.chantabs {
  margin-top: 10px;
  width:300px;
}
.channel_tab {
  border: 1px solid #CCC;
  border-radius: 5px 5px 0 0;
  padding:5px;
  background: #FFF;
}
.channel_tab:hover {
  color: #FFF;
  background: #00C;
  cursor:pointer;
}
.channel_set {
  /*position: absolute;*/
  border: 1px solid #CCC;
  display: none;
  /*top: 35px;*/
  width:400px;
  height: 180px;
  max-height: 99%;
  margin-top: 5px;
}
.channel_topic {
  /* background: #FFF; */
  display:none;
  color: #000;
  width: 100%;
  text-align: center;
  height: 25px;
  max-height: 25px;
  border-bottom: 1px solid #CCC;
}
.channel_window {
  display: inline-block;
  position: relative;
  /*min-*/width:69%;
  /*width:100%;*/
  height: 100%;
  max-height: 99%;
  overflow: auto;
  border-right: 1px solid #CCC;
  background: #FFF;
}
.channel_names {
  display: inline-block;
  /*position: absolute;*/
  /*top:0px;*/
  width:30%;
  height: 180px;
  max-height: 99%;
  overflow: auto;
  float:right;
  right: 0px;
  background: #FFF;
}
.channel_name {
  cursor:pointer;
}
.channel_name:hover {
  color: #FFF;
  background: #009;
}
.channel_mode {
  display: none;
  vertical-align: middle;
  margin-right: 2px;
}
.rc_menu {
  position: absolute;
  display: none;
  width: 100px;
  height: auto;
  border: 1px solid #999;
  background: #CCC;
}
.rc_menuitem {
  cursor: pointer;
}
.rc_menuitem:hover {
  background: #009;
  color: #FFF;
}
.inputarea {
  margin-top: 5px;
}
#sendtext {
  width: 175px;
}
.selected_tab {
  color: #999;
  background: #339;
}
.notice {
  color: red;
}
.theme {
  display:none;
}
h1 {
  display:none;
}
